/* RESET CUSTOM CLASS */
.pxl-hover-parallax {
    &:not(.hovered) .pxl-item-parallax {
        transform: translate3d(0px, 0px, 0px) !important;
    }

    .pxl-item-parallax {
        @include transition(transform 300ms linear 0ms);
    }
}